body {
    background: rgb(193, 253, 248);
    text-align: center;
  }

h1 {
    color: rgba(169, 169, 169);
    text-align: center;
    padding-top: 60px;
    width: 100%;
    height: 600px;
    background-image: url(mexico-best-beaches-akumal-beach.jpg);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
}

h2 {
    background-color: aliceblue;
    padding: 10px 20px 10px 20px;
    font-style: italic;
}

p {
    background-color: aliceblue;
    padding: 10px 20px 10px 20px;
}

img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
  
  }
  
  