#contact {
    clear: left;
}


body {
    background: rgba(248, 249, 249, 0.35);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(249, 185, 96, 0.938)
    
  }

h1 {
    color: rgb(77, 75, 75);
    text-align: center;
    padding-top: 210px;
    width: 100%;
    height: 600px;
    background-image: url(/Users/sakibasken/Development/code/prework/website-Mexico/resources/images/Beach.jpeg);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    font-family: serif;
}

h2 {
    background-color: aliceblue;
    padding: 10px 20px 10px 20px;
    font-style: italic;
    font-family: serif;
}



p {
    background-color: aliceblue;
    padding: 10px 20px 10px 20px;
    line-height: 1.2;
    padding: 30px;
    line-height: 48px;
    padding: 10px 20px;
    
}

img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;

  }

.topnav {
    background-color: rgb(243, 245, 247);
    overflow: hidden;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    
}

.topnav a {
    float: left;
    color: #689af6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.column2 {
    float: left;
    width: 48%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
   
}

.byline {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
}
  